<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/dk_icom"
        android:label="DriveKit"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Drive_Kit">

        <activity
            android:name="com.example.drive_kit.View.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.drive_kit.View.SignUpActivity" />
        <activity android:name="com.example.drive_kit.View.SetUsernamePasswordActivity" />
        <activity android:name=".View.LoadingActivity" />
        <activity android:name=".View.HomeActivity" />
        <activity android:name=".View.NotificationsActivity" />
        <activity android:name=".View.ProfileActivity" />
        <activity android:name=".View.EditProfileActivity" />
        <activity android:name=".View.CarDetailsActivity" />
        <activity android:name=".View.DIYFilterActivity" />
        <activity android:name=".View.DIYIssuesActivity" />
        <activity android:name=".View.activity_nearby_garages" />
        <activity android:name=".View.Driver_InsuranceActivity" />
        <activity android:name=".View.InsuranceHomeActivity" />
        <activity android:name=".View.DriverInsuranceInquiryActivity" />
        <activity android:name=".View.InsuranceInquiriesActivity" />


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

    </application>

</manifest>
